@model Question
@{
    ViewData["Title"] = "Detail";
    string loggedUser;
    if(!(Html.ViewContext.HttpContext.Request.Cookies["Username"] is null))
    {
        loggedUser = Html.ViewContext.HttpContext.Request.Cookies["Username"];
    }
    else
    {
        loggedUser = "";
    }
}

<div class="inline-header">
    <h1>Question Details</h1>
    <a class="btn btn-dark" asp-action="Index" asp-controller="DevHub">Back To Home Page</a>
</div>

<div>
    <form id="questionForm" method="post" action="/DevHub/Detail">
        <input class="question-detail" type="hidden" readonly value="@Model.id" name="id" />

        <input class="upper-left question-detail" type="text" disabled value="@Model.username" />
        <input class="question question-detail" type="text" disabled value="@Model.category" name="category" required />
        <input class="question question-detail" type="text" disabled value="@Model.title" name="title" required />
        <input class="question-detail" type="text" disabled value="@Model.posted" />

        <select class="question question-detail" disabled name="status" required>
            @if (Model.status == 0)
            {
                <option value="0" selected>Open</option>
                <option value="1">Closed</option>
            }
            else
            {
                <option value="0">Open</option>
                <option value="1" selected>Closed</option>
            }
        </select>

        <input class="question question-detail" type="text" disabled value="@Model.tags" name="tags" required />
        <textarea class="question bottom-right" disabled cols="76" rows="10" name="detail" required>@Model.detail</textarea><br />
        @if (loggedUser == Model.username)
        {
            <button class="btn btn-dark" onclick="SwitchEnabled() || event.preventDefault()">Edit</button>
            <input class="question btn btn-dark" disabled type="submit" name="action" value="Update" />
        }
    </form>
    @foreach (Answer a in Model.answers)
    {
        <form method="post" action="/DevHub/UpdateAnswer">
            <input type="hidden" name="answer_id" value="@a.id" readonly />
            <input type="hidden" name="answer_posted" value="@a.posted" readonly />
            <input type="text" disabled value="@a.posted" readonly />
            <input type="text" disabled value="@a.username" readonly />
            <input type="hidden" name="answer_username" value="@a.username" readonly />
            <textarea name="answer_detail" class="@a.id" disabled>@a.detail</textarea>
            <input type="text" name="answer_upvote" value="@a.upvote" />

            @if(Model.status == 0 && loggedUser == a.username)
            {
                <input id="@a.id" type="button" name="edit" value="Edit" onclick="SwitchAnswer(@a.id) || event.preventDefault()" />

                <input id="@($"{a.id}_update")" type="submit" hidden name="update" value="Update" />
                <input type="submit" name="update" value="Delete" />
            }
        </form>
    }
    @if (Model.status == 0 && loggedUser != "")
    {
        <form id="" method="post" action="/DevHub/CreateAnswer">
            <input type="hidden" name="answer_id" value="0" readonly />
            <input type="text" disabled value="@ViewData["Today"]" name="posted" />
            <input type="hidden" name="answer_username" value="@loggedUser" readonly /><!--username pass to form field-->
            <input type="text" value="@loggedUser" disabled /> <!--username display field-->
            <textarea name="answer_detail" class=""></textarea>

            <input type="hidden" value="@Model.id" name="question_id" />
            <input type="submit" name="update" value="Add Answer" />
        </form>
    }
</div>