@model List<Question>
@{
    ViewData["Title"] = "Index";
    string loggedUser;
    if (!(Html.ViewContext.HttpContext.Request.Cookies["Username"] is null))
    {
        loggedUser = Html.ViewContext.HttpContext.Request.Cookies["Username"];
    }
    else
    {
        loggedUser = "";
    }
}

<div class="inline-header">
    <div class="form-container">
        <form id="search" method="get" action="/DevHub/">
            Search
            <select id="column" name="column">

                <option value="tags">Tags</option>
                <option value="title">Title</option>
                <option value="detail">Question Body</option>
                <option value="category">Category</option>
            </select>
            <br />
            <input type="text" name="search" />
            <input class="btn btn-dark" type="submit" value="Go" />
        </form>
    </div>
    @if (loggedUser != "")
    {
        <a class="btn btn-dark" asp-action="PostQuestion" asp-controller="DevHub">New Question</a>
    }
</div>

<table class="indexTable" cellspacing="0" cellpadding="0" >
    <tr>
        <td class="indexBreakerMain">
            <div class="indexMain">
                <h3>@ViewData["Message"]</h3>
                @foreach (Question q in Model)
                {
                    <div class="list-inline">
                        <a asp-action="Detail" asp-controller="DevHub" asp-route-id="@q.id">@q.title (@q.username)</a>
                    </div>
                }
            </div>
        </td>
        <td  class="indexBreakerSecondary">
            <div class="indexSecondary">
                <h3>Categories</h3>
                @foreach (string cat in (List<string>)ViewData["category"])
                {
                    <form class="margin-top" method="post" action="/DevHub/Index">
                        <input type="text" hidden name="column" value="category" />
                        <input type="text" hidden name="search" value="@cat" />
                        <input type="submit" value="@cat" />
                    </form>
                }
            </div>
        </td>
        <td class="indexBreakerSecondary">
            <div class="indexSecondary">
                <h3>Tags</h3>
                @foreach (string tag in (List<string>)ViewData["tags"])
                {
                    <form class="margin-top" method="post" action="/DevHub/Index">
                        <input type="text" hidden name="column" value="tags" />
                        <input type="text" hidden name="search" value="@tag" />
                        <input type="submit" value="@tag" />
                    </form>
                }
            </div>
        </td>
    </tr>
</table>